<div class="container-fluid p-5 bg-black text-white text-center">
  <h1>EXAMEN FINAL</h1>
  <p>Lesly Sasshira Cruz Pancca</p> 
</div>
<br>
<div class="d-flex justify-content-center align-items-center vh-10">
  <button (click)="Listar()"  type="button" class="btn btn-primary">LISTAR USUARIO</button>
  <button (click)="Nuevo()"  type="button" class="btn btn-success" style="margin-left: 10px;">NUEVO USUARIO</button>
</div>

<div class="container mt-5">
  
  <div class="row">
  
  </div>
</div>

<router-outlet></router-outlet>
